.main-nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 60px;
}

.main-nav li {
    background-color: var(--primary-color);
    list-style: none;
    text-align: center;
    padding: 30px 60px;
    margin: 0px 10px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 15pt;
}